/* 작업 순서 */
/* 기본(최적) 해상도 - 960px */
/* header */
.orbit-regular {
    font-family: "Orbit", sans-serif;
    font-weight: 900;
    font-size: 24px;
    font-style: normal;
    /* padding: 10px, 0; */
    line-height: 50px;
}


body {
    font-family: Georgia, serif;
    font-size: 1.28em;
    line-height: 1.2em;
}

h1 {
    font-weight: 900;
    font-size: 1.28em;
    line-height: 1.3em;
}

h3 {
    font-weight: 900;
    font-size: 1em;
    line-height: 1.1em;
}

/* 기본(최적) 해상도 - 960px */
/* header */
.wrap-header {
    background-color: antiquewhite;

    /* 자식elements(absoulte제외) 높이 정확히 계산함  */
    /* overflow: hidden; */
}

header {
    /* 1. 중앙정렬 */
    width: 960px;
    margin: 0 auto;

    /* margin */
    /* margin-bottom: 10px; */
    padding-bottom: 10px;

    /* position - 기준점relative - 자식 absoulte 있다면 height*/
    position: relative;
    height: 160px;
}

header nav.tnb {
    /* position - 배치absolute */
    position: absolute;
    right: 0;
}

header nav.bnb {
    /* position - 배치absolute */
    position: absolute;
    right: 0;
    bottom: 0;
}

header div.logo {
    /* position - 배치absolute */
    position: absolute;
    left: 50px;
    top: 50px
}

.wrap-main {
    /* 1. 중앙정렬 */
    width: 960px;
    margin: 0 auto;
}

section {
    /* 2. float 배치 */
    float: left;
    width: 750px;

    margin-right: 10px;
}

aside {
    /* 2. float 배치 */

    float: left;
    width: 200px;

    /* 테두리 */
    border: 1px solid black;
    box-sizing: border-box;

}

aside>.HTML5 {
    /* TODO */
    right: 0;
}

.wrap-footer {
    /* 2. float 배치 */
    clear: both;

    /* article의 margin-bottom만큼 이동 배치 */
    /*     
    position: relative;
    top: -10px; 
    */

    background-color: blanchedalmond;
}

footer {
    /* 1. 중앙정렬 */
    width: 960px;
    margin: 0 auto;

    padding: 10px 0;
}

article {
    /* 테두리 */
    border: 1px solid black;
    box-sizing: border-box;

    padding: 10px;

    margin-bottom: 10px;
}

/* 우선순위에서 article 보다 높음 */
article:last-child {
    margin-bottom: 0;
}

nav>ul {
    /* float 의 부모노드 overflow hidden */
    overflow: hidden;
}

nav>ul>li {
    /* display: inline-block; li요소 사이줄바꿈으로 한칸띄워쓰기문제 */
    /* float */
    float: left;
    /* padding: 5px;  내부 a 태그에 padding 넣기*/
    /* border: 1px solid black; */
}

nav>ul>li>a {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

nav>ul>li:first-child>a {
    border-left: 1px solid black;
}

nav.tnb>ul>li:first-child>a {
    border-left: 1px solid black;
    border-radius: 15px 0 0 15px;
}

nav.tnb>ul>li:last-child>a {
    border-radius: 0 15px 15px 0;
}

nav.bnb>ul>li:first-child>a {
    border-left: 1px solid black;
    border-radius: 10px 0 0 10px;
}

nav.bnb>ul>li:last-child>a {
    border-radius: 0 10px 10px 0;
}

nav.bnb,
.logo {
    /* float 의 동위노드에 clear */
    clear: both;
}

nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
    background-color: black;
}

.tab_item>ul>li {
    clear: both;
}

.tab_item>ul>li {
    overflow: hidden;
}

.tab_item>ul>li>a>div:first-child {
    float: left;
    width: 45px;
    margin-right: 10px;
    /* padding: 5px; */
}

.tab_item>ul>li>a>div:not(first-child) {
    float: left;
    width: 120px;
}

.tab_item>ul>li {
    /* border: 1px solid black; */
    padding: 10px;
}


input[type=radio] {
    /* 공간차지 없는 요소 */
    display: none;

    /* 공간차지하면서 화면에서 안보이게 */
    /* visibility: hidden; */
}

.tab_item .ahtml {
    display: block;
}

.tab_item .acss {
    display: block;
}

aside > div > li > a {
    border: 1px solid black;
}


.lableRadio label {
    display: inline-block;
    padding: 10px;
    font-size: 1.3em;
    margin: 0 auto;
    border: 1px solid black;
    /* text-align: center; */
}

/* 
input[type=radio]:nth-of-type(1):checked {

    height: 50px;
    width: 50px;
}

input[type=radio]:nth-of-type(2):checked {
    height: 50px;
    width: 50px;
} */

/* 
.radiobox{
    height: 40px;
    margin: 0 auto;
    display: inline-block;
    font-size: 23px;
    overflow: hidden;
    clear: both;
} */

#first:checked~.tab_item.ahtml {
    display: block;
}

#first:checked~.tab_item:nth-of-type(2) {
    display: none;
}

#second:checked~.tab_item.acss {
    display: block;
}

#second:checked ~ .tab_item:nth-of-type(1) li:not(:first-child) {
    display: none;
}

.tab_item>ul>li:nth-of-type(2n) {
    background-color: #CCC;
}

.tab_item>ul>li:nth-of-type(2n+1) {
    background-color: #ffefef;
}

/* .tab_item > ul > li > a > div:last-child{ */
/* 
.HTML5{
    display: inline-block
    
}
.CSS{
    display: inline-block

} 
 */