<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 첫 웹페이지</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/myweb.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrap-header">
        <header>
            <nav class="tnb">
                <ul>
                    <li><a href="#a">Web1</a></li>
                    <li><a href="#b">Mobile</a></li>
                    <li><a href="#c">Game</a></li>
                    <li><a href="#d">Simulation</a></li>
                    <li><a href="#e">Date</a></li>
                </ul>
            </nav>
            <nav class="bnb">
                <ul>
                    <li><a href="#">Java</a></li>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">jQery</a></li>
                </ul>
            </nav>
            <div class="logo">
                <h1>Rint Development</h1>
                <h4>HTML5 + CSS3 Basic</h4>
            </div>
        </header>
    </div>

    <div class="wrap-main">
        <section>
            <article>
                <h1 class="orbit-regular">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat libero posuere nibh
                    posuere,
                    posuere aliquam ligula maximus. Nam porttitor fermentum vulputate. Interdum et malesuada fames ac
                    ante
                    ipsum
                    primis in faucibus. Vivamus ac nunc in nulla facilisis imperdiet. Sed molestie massa et urna egestas
                    mollis.</p>
            </article>
            <article>
                <h1 class="orbit-regular">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat libero posuere nibh
                    posuere,
                    posuere aliquam ligula maximus. Nam porttitor fermentum vulputate. Interdum et malesuada fames ac
                    ante
                    ipsum
                    primis in faucibus. Vivamus ac nunc in nulla facilisis imperdiet. Sed molestie massa et urna egestas
                    mollis.</p>
            </article>
            <article>
                <h1 class="orbit-regular">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat libero posuere nibh
                    posuere,
                    posuere aliquam ligula maximus. Nam porttitor fermentum vulputate. Interdum et malesuada fames ac
                    ante
                    ipsum
                    primis in faucibus. Vivamus ac nunc in nulla facilisis imperdiet. Sed molestie massa et urna egestas
                    mollis.</p>
            </article>
            <article>
                <h1 class="orbit-regular">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat libero posuere nibh
                    posuere,
                    posuere aliquam ligula maximus. Nam porttitor fermentum vulputate. Interdum et malesuada fames ac
                    ante
                    ipsum
                    primis in faucibus. Vivamus ac nunc in nulla facilisis imperdiet. Sed molestie massa et urna egestas
                    mollis.</p>
            </article>
            <article>
                <h1 class="orbit-regular">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat libero posuere nibh
                    posuere,
                    posuere aliquam ligula maximus. Nam porttitor fermentum vulputate. Interdum et malesuada fames ac
                    ante
                    ipsum
                    primis in faucibus. Vivamus ac nunc in nulla facilisis imperdiet. Sed molestie massa et urna egestas
                    mollis.</p>
            </article>


        </section>
        <aside>
            <input type="radio" name="n" id="first" checked="checked">
            <input type="radio" name="n" id="second">
            <div class="tab_item">
                <ul>
                    <div class="lableRadio">
                        <span>
                            <label for="first" class="HTML5">First</label>
                        </span>
                        <span>
                            <label for="second" class="CSS">Second</label>
                        </span>
                    </div>
                    <li class="ahtml">
                        <a href="#">
                            <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                            <div>HTML5</div>
                            <div>2024-03-13</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                            <div>HTML5</div>
                            <div>2024-03-13</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                            <div>HTML5</div>
                            <div>2024-03-13</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                            <div>HTML5</div>
                            <div>2024-03-13</div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab_item">
                <ul>
                    <li class="acss">
                        <a href="#">
                            <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                            <div>CSS</div>
                            <div>2024-03-13</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                            <div>CSS</div>
                            <div>2024-03-13</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                            <div>CSS</div>
                            <div>2024-03-13</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                            <div>CSS</div>
                            <div>2024-03-13</div>
                        </a>
                    </li>
                </ul>
            </div>

        </aside>
    </div>

    <div class="wrap-footer">
        <footer>
            <div>
                slide Images
            </div>
            <h3>HTML5 + CSS3 Basic</h3>
            <address>Website Layout Basic</address>
        </footer>
    </div>
</body>

</html>