<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="a1">GET HTML TEXT!!!</div>
    <script>

        // // 문자에 따옴표 사용하기

        // document.getElementById('자');
        // var a0 = "가나다라"; 
        // console.log(a0);
        // var a = "문'자\"열"; 
        // console.log(a);
        
        // // 문자열 찾기
        
        // var a1 = '가나다';
        // console.log(a1);
        // var str = "이체할 금액 300원 , 이체한 금액 300원" 
        // var b = a.lastIndexOf(a, 2);
        // console.log("b = "+b);
        // console .log(str. indexOf ( "3" ));   
        // console .log(str. indexOf ( "3" , 10 ));
        
        // // 무한의 수

        // var a3 = 10/0; // Infinity
        // console.log(a3);  
        // var a4 = a3+a3; // Infinity
        // console.log(a4);
        // var a5 = a3-a3; // NaN
        // console.log(a5);

        // // 문자와 숫자

        // var a6 = 20;
        // var a7 = "20";
        // a8 = a6*a7
        // console.log(a6+a7); // 덧셈은 문자+숫자 20 + "20" = 2020(문자열)
        // console.log(a8); // 곱셈은 숫자대 숫자로 20 * "20" = 400(숫자)
        // console.log(typeof(a8)) // 넘버
        // a8 = a6+a7
        // console.log(a6+a7); // 덧셈은 문자+숫자 20 + "20" = 2020(문자열)
        // console.log(typeof(a8)) // 스트링

        var a9 = [1,"1","일"];
        a9.splice(2,1,10);
        console.log(a9);

</script> 

    
</body>
</html>