<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/signin.css" rel="stylesheet">

</head>

<body>
    <div class="wrap">
        <header>
            <div>
                <fieldset>
                    <legend>로그인</legend>
                    <table>
                        <tr>
                            <th>아이디</th>
                            <td><input type="text" id="id" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <th>패스워드</th>
                            <td><input type="password" id="id" autocomplete="off"></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td><button>확인</button></td>
                            <td><button>전달/제출</button></td>
                            <td><button>깨끗하게취소</button></td>
                        </tr>
                    </table>
                </fieldset>
                <div class="img"><img src="https://dummyimage.com/250x80/fff4b0/001aff&text=KH" alt="45x45 dummy image">
                </div>
            </div>

        </header>

        <div class="wrap-main">
            <aside class="wrap-aside">
                <div>
                    <h1><a href="#" target="_blank">메인</a></h1>
                </div>
                <div>
                    <h1><a href="#" target="_blank">공지사항</a></h1>
                </div>
                <div>
                    <h1><a href="#" target="_blank">자유게시판</a></h1>
                </div>
            </aside>

            <section>
                <div class="wrap-section">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid
                    dolores ipsa error
                    ipsum blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus
                    sit
                    dignissimos neque exercitationem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
                    id, aliquid
                    dolores ipsa error
                    ipsum blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus
                    sit
                    dignissimos neque exercitationem?</div>
            </section>
        </div>

        <footer>
            <div class="marquee">
                <p>KH정보교육원 | 사업자등록번호 : 851-87-00622 | 서울 강남 제2014-01호 | 대표자 : 양진선 | 책임자 : 김언체 |
                    개인정보관리책임자 : 강명주
                </p>
            </div>
            <div>
                종로지원 : 서울특별시 중구 남대문로 120 대일빌딩 2F, 3F
            </div>
            <div>
                Copyright ⓒ 1998-2020 KH Information Educational Institute All Right Reserved
            </div>
        </footer>
    </div>
</body>

</html>