<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/myweb2.css" rel="stylesheet">
</head>

<body>
    <div>
        <div>
            <hr style="border: 1px solid orangered;">
            <section>
                <table>
                    <tr>
                        <th>이름</th>
                        <td colspan="3"><input type="text" id="name"></td>
                    </tr>
                    <tr>
                        <th>아이디</th>
                        <td colspan="3"><input type="text" id="id"></td>
                        <td><a href="#">중복확인</a></td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td colspan="3"><input type="password" id="psd"></td>
                        <td>6자 이상</td>
                    </tr>
                    <tr>
                        <th>비밀번호확인</th>
                        <td colspan="3"><input type="password" id="psdc"></td>
                    </tr>
                    <tr>
                        <th>비밀번호 힌트/답변</th>
                        <td colspan="3"><select id="psdh">
                                <option value="선택하세요">선택하세요&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                <option value="태어난 곳은?">태어난 곳은?</option>
                                <option value="초등학교 이름은?">초등학교 이름은?</option>
                                <option value="가장 친한 친구 이름은?">가장 친한 친구 이름은?</option>
                            </select></td>
                    </tr>
                    <tr>
                        <th>답변</th>
                        <td colspan="3"><input type="password" id="psdcc"></td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td colspan="3"><input type="text" id="email"></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td colspan="3"><input type="number" id="number"></td>
                    </tr>
                    <tr>
                        <th>메일/sns 정보 수신</th>
                        <td>
                            <input type="radio" id="first">
                            <label for="first">수신</label>
                            <input type="radio" id="second">
                            <label for="second">수신거부</label>
                        </td>
                    </tr>
                    <tr>
                        <th>관심분야</th>
                        <td><input type="checkbox" id="생두">생두</td>
                        <td><input type="checkbox" id="원두">원두</td>
                        <td><input type="checkbox" id="로스팅">로스팅</td>
                        <td><input type="checkbox" id="핸드드립">핸드드립</td>
                        <td><input type="checkbox" id="에스프레소">에스프레소</td>
                        <td><input type="checkbox" id="창업">창업</td>
                    </tr>

                </table>
                <hr style="border: 1px solid orangered;">
            </section>
        </div>
        <div>
            <footer>

            </footer>
        </div>
    </div>
</body>

</html>