<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 첫 웹페이지</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/myweb.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrap-header">

        <header>
            <nav class="tnb">
                <ul>
                    <li><a href="#a">Web1</a></li>
                    <li><a href="#b">Mobile</a></li>
                    <li><a href="#c">Game</a></li>
                    <li><a href="#d">Simulation</a></li>
                    <li><a href="#e">Date</a></li>
                </ul>
            </nav>
            <nav class="bnb">
                <ul>
                    <li><a href="#a">Java</a></li>
                    <li><a href="#b">HTML</a></li>
                    <li><a href="#c">CSS</a></li>
                    <li><a href="#d">JavaScript</a></li>
                    <li><a href="#e">jQery</a></li>
                </ul>
            </nav>
            <div class="logo">
                <h1>Rint Development</h1>
                <h4>HTML5 + CSS3 Basic</h4>
            </div>
        </header>
    </div>

    <div class="wrap-main">
        <section>
            <article>
                <h1 class="orbit-regular">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat libero posuere nibh
                    posuere,
                    posuere aliquam ligula maximus. Nam porttitor fermentum vulputate. Interdum et malesuada fames ac
                    ante
                    ipsum
                    primis in faucibus. Vivamus ac nunc in nulla facilisis imperdiet. Sed molestie massa et urna egestas
                    mollis.</p>
            </article>
            <article>
                <h1 class="orbit-regular">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat libero posuere nibh
                    posuere,
                    posuere aliquam ligula maximus. Nam porttitor fermentum vulputate. Interdum et malesuada fames ac
                    ante
                    ipsum
                    primis in faucibus. Vivamus ac nunc in nulla facilisis imperdiet. Sed molestie massa et urna egestas
                    mollis.</p>
            </article>
            <article>
                <h1 class="orbit-regular">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat libero posuere nibh
                    posuere,
                    posuere aliquam ligula maximus. Nam porttitor fermentum vulputate. Interdum et malesuada fames ac
                    ante
                    ipsum
                    primis in faucibus. Vivamus ac nunc in nulla facilisis imperdiet. Sed molestie massa et urna egestas
                    mollis.</p>
            </article>
            <article>
                <h1 class="orbit-regular">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat libero posuere nibh
                    posuere,
                    posuere aliquam ligula maximus. Nam porttitor fermentum vulputate. Interdum et malesuada fames ac
                    ante
                    ipsum
                    primis in faucibus. Vivamus ac nunc in nulla facilisis imperdiet. Sed molestie massa et urna egestas
                    mollis.</p>
            </article>
            <article>
                <h1 class="orbit-regular">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat libero posuere nibh
                    posuere,
                    posuere aliquam ligula maximus. Nam porttitor fermentum vulputate. Interdum et malesuada fames ac
                    ante
                    ipsum
                    primis in faucibus. Vivamus ac nunc in nulla facilisis imperdiet. Sed molestie massa et urna egestas
                    mollis.</p>
            </article>


        </section>
        <aside>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat libero posuere nibh posuere,
            posuere aliquam ligula maximus. Nam porttitor fermentum vulputate. Interdum et malesuada fames ac ante ipsum
            primis in faucibus. Vivamus ac nunc in nulla facilisis imperdiet. Sed molestie massa et urna egestas mollis.
            Nulla sollicitudin pharetra sem, et finibus ante.

        </aside>
    </div>

    <div class="wrap-footer">
        <footer>
            <div>
                slide Images
            </div>
            <h3>HTML5 + CSS3 Basic</h3>
            <address>Website Layout Basic</address>
        </footer>
    </div>
</body>

</html>